body {
  font-family: sans-serif;
  text-align: center;
  background-color: #111;
  color: white;
}

.mapa-container {
  position: relative;
  max-width: 100%;
  width: 800px;
  margin: auto;
}

.mapa-container img {
  width: 100%;
  height: auto;
  display: block;
}

.area {
  position: absolute;
  border: 2px solid #ffffff;
  background-color: rgba(180, 180, 180, 0); /* semitransparente */
  cursor: pointer;
  transition: opacity 0.2s;
}

.area:hover {
  background-color: rgba(91, 91, 91, 0.3);
}

/* North Island */
#north-island {
  top: 10%;
  left: 30%;
  width: 50%;
  height: 35%;
}

/* South Island */
#south-island {
  top: 55%;
  left: 10%;
  width: 48%;
  height: 35%;
}
